html{
  font-size: 15px;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: flex-end;
}

.glass{
  width: 100%;
  height: 6rem;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.dock{
  --scale: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: all 0.8s;
  justify-content: center;
  align-items: center;
}

.dock li {
  font-size: calc(4rem * var(--scale));
  padding: 0.5rem;
  cursor: default;

  position: relative;
  top: calc((4rem * var(--scale) - 4rem) / 2 * -1);

  transition: 500ms all ease-out;

}

/*  动画执行 */
.dock li.loading{
  animation: 800ms loading ease-in 3;
}

/* 点击打开时的动画效果 */
@keyframes loading {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
}
