body {
    background: #0573b6;
}
#wrapper {
    max-width: 500px;
    height: auto;
    position: relative;
    margin: 8% auto 0;
}
#v-1 {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
#v-2 {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    backgound: url("2.jpg") no-repeat #0573d6;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 150;
    transition: opacity 0.2s;
    border: 25px solid #fff;
}

#wrapper:hover,
#wrapper:active {
    cursor: zoom-in;
    border-radius: 50%;
}

#wrapper:hover #v-2,
#wrapper:active #v-2 {
    opacity: 1;
}
